# Week 1 Day 1, Part A Exercises: Introduction to Python

![Reminder to Save](https://i.imgur.com/JFukxlL.png)

In [ ]:
# Always run this code.
%config InteractiveShell.ast_node_interactivity="none"

## Instructions

Welcome to Jamcoders! This is a **Jupyter Notebook** with some exercises based on lecture. Jupyter Notebook allows you to write Python code in boxes called **cells** which you can **run** individually (by pressing `CTRL+ENTER` or `SHIFT+ENTER`).

The goal of this notebook is to review the following topics:

*   Comments
*   Math in Python
*   Printing
*   Types
*   Variables

# Table of Contents  

**[Question 1: Comments, Math, Printing](#1)**

**[Question 2: Integer and Float Types](#2)**

**[Question 3: String Types](#3)**

**[Question 4: Type Error](#4)**

**[Question 5: Multiplication Operator](#5)**

**[Question 6: Boolean Operators](#6)**

**[Question 7: Variables](#7)**

**[Question 8: Tricky Variable Names](#8)**

**[Question 9: Math Magic Trick](#9)**

**[Question 10: Putting It All Together](#10)**

<a name="1"></a>
## Question 1: Comments, Math, Printing

_Use code to answer 1.1-1.5_

**1.0**

You can print out any text using `print()`. For example:

In [ ]:
print('hello world!')

What is your favourite colour? Write some code to print your answer below:

**1.1**

Comments do not change how code runs, but are important for explaining the code in words. 

Question: _"Does the man make the suit or does the suit make the man?"_

Write any comment (starting with `#`) in the cell below for your answer to this question.

**1.2**

You can do math using symbols like `+` (add), `-` (subtract), `*` (multiply), and `\` (divide). 

Use print to show the answer to `2000 + 22` below:

In [ ]:
# YOUR CODE HERE

**1.2a**

Keisha noticed cherries growing on a tree. She counted 365 green cherries, 65 red cherries and 45 yellow cherries. Print how many cherries she counted in total:

In [ ]:
# YOUR CODE HERE

**1.2b**

The next day Keisha noticed that 37 cherries had fallen from the tree. Print how many cherries are left on the tree:

In [ ]:
# YOUR CODE HERE

**1.2c**

Keisha found a millipede that has a total of 354 legs beside a rock. When she looked under the rock, she saw 45 more millipedes of the same species underneath. How many legs in total did Keisha see?

In [ ]:
# YOUR CODE HERE

**1.2d**

Andy bought 263 cases of beer to give to some clubs for their respective club parties and celebrations. He invited a total of 33 clubs to come and collect the cases of beer at his house. How many cases of beer would each club recieve?

In [ ]:
# YOUR CODE HERE

For your previous answer, type the code that will only produce the whole number and not the decimal.

_Hint: you would use the `//` operand_

In [ ]:
# YOUR CODE HERE

**1.4**

Keep in mind that Python does have an order of operations. 

Write *two* lines of code. 
1.   In the first, print `335 + 2 x 6`
2.   In the second, print `(335 + 2) x 6`

In [ ]:
# YOUR CODE HERE

**1.5**

Print any math expression of your choice, and add a comment explaining in words what your code is doing.

In [ ]:
# YOUR CODE HERE

<a name="2"></a>
## Question 2: Integer and Float Types

So far, we have been doing math with `Integers`, but there are other types!


_Use code to answer 2.1-2.4_

**2.1**
 
Use the function ```type``` to determine the type of `1` and print it out.

In [ ]:
# YOUR CODE HERE

**2.2** 

What about the type of `1.0`?

In [ ]:
# YOUR CODE HERE

**2.3** 

What is the resulting type of adding ```1``` with ```1```?

In [ ]:
# YOUR CODE HERE

**2.4**

What is the resulting type of adding ```1``` and ```1.0```?

In [ ]:
# YOUR CODE HERE

**2.5**

So, what can you say about the resulting type of adding an ```int``` and a ```float```? 

*Write the answer in a comment below*

In [ ]:
# YOUR ANSWER HERE

<a name="3"></a>
## Question 3: String Types

_Use code to answer 3.1-3.4_

**3.1**


Print the type of `"BoazBarak"`.

In [ ]:
# YOUR CODE HERE

**3.2**

What is the type of ```'Obama'```?

In [ ]:
# YOUR CODE HERE

**3.3**


Print the result of adding ```"BoazBarak"``` and ```'Obama'``` (with the `+` operator).

In [ ]:
# YOUR CODE HERE

**3.4**

What is the resulting type of adding ```"BoazBarak"``` and ```'Obama'```?

In [ ]:
# YOUR CODE HERE

**3.5**

Is there a difference between single quotes and double quotes?

*Write the answer in a comment below*

In [ ]:
# YOUR ANSWER HERE

**3.6**

What happens when you add two strings (with the `+` operator)?

*Write the answer in a comment below*

In [ ]:
# YOUR ANSWER HERE

<a name="4"></a>
## Question 4: Type Error

**4.1**

What is the resulting type of adding ```3``` and ```'3'```?

In [ ]:
# YOUR CODE HERE

**4.2**

Can you explain why the error occured (in a comment)?

In [ ]:
# YOUR ANSWER HERE

<a name="6"></a>
## Question 5: Multiplication Operator

**5.1**

Multiply ```5``` and ```4```.

In [ ]:
# YOUR CODE HERE

**5.2**

Multiply ```'Barak'``` by ```3```.

In [ ]:
# YOUR CODE HERE

**5.3**

Multiply ```5.0``` and ```4```.

In [ ]:
# YOUR CODE HERE

**5.4**

In a comment below, what patterns emerge when you multiply different types with an integer?

In [ ]:
# YOUR ANSWER HERE

<a name="6"></a>
## Question 6: Boolean Operators

**Figure 1**

| AND      |  True | False |
| -------- | ----- | ----- |
| **True** |   A   |   B   |
| **False**|   C   |   D   |

**Figure 2**
 
|  OR      |  True | False |
| -------- | ----- | ----- |
| **True** |   E   |   F   |
| **False**|   G   |   H   |

**6.1**

What are the boolean values of A through H? Use your intuition to fill out the empty list in the text cell below

*Fill out this list.*

A. 

B. 

C. 

D.

E. 

F. 

G. 

H.

**6.2**

Use code to check your above answers.

In [ ]:
# Explore using keywords like: True, False, and, or. For example, try running "print(True and False)".
# YOUR CODE HERE

**6.3**

Are ```3``` and ```'3'``` equivalent? Use code to confirm (Hint: use `==` to check equivalence).

In [ ]:
# YOUR CODE HERE

**6.4**

Are ```"Boaz"``` and ```"Boaz"``` equivalent? Use code to confirm.

In [ ]:
# YOUR CODE HERE

**6.5**

Is ```(not False)``` equivalent to ``` True```?

In [ ]:
# YOUR CODE HERE

<a name="7"></a>
## Question 7: Variables

**7.1**

Define a variable ```x``` that has a value of ```5```.

In [ ]:
# YOUR CODE HERE

**7.2**

Define a variable ```y``` that has a value of ```x```.

In [ ]:
# YOUR CODE HERE

**7.3**

Use `print` to check the value of ```y```.

In [ ]:
# YOUR CODE HERE

**7.4**

Change ```x``` to ```4```. What is the value of ```y``` now?

In [ ]:
# YOUR CODE HERE

**7.5**

Define a variable ```z```, that has a value of the sum of ```x``` and ```y```

In [ ]:
# YOUR CODE HERE

**7.6**

Assign ```x``` another value, ```12```. What are the values of ```y``` and ```z```?

In [ ]:
# YOUR CODE HERE

**7.7**

Define a variable ```x``` and assign it the value of ```False```,  **but without using the keyword `False`**. 

Hint: You can do it using one special operator. If you did it right, then `print(x)` should print out `False`.

In [ ]:
# YOUR CODE HERE

<a name="8"></a>
## Question 8: Tricky Variable Names

So we have been writing code and getting the answers from the computer. Now, let's test to see if you can read a problem and determine the solution without checking with the computer. 

Suppose you are reading the following code:
```python
seven = 11
boaz = 'C0der'
Boaz = 'Jam'
four = 4
ten = 16
```
*Without running this code, answer the following in words in a comment*

**8.1**

What is the value of the variable ```seven```?

In [ ]:
# YOUR ANSWER HERE

**8.2**

What is the value of the variable `ten` minus the variable `four`?

In [ ]:
# YOUR ANSWER HERE

**8.3**

Is the type of the variable `boaz` the same as the type of the variable `Boaz`?

In [ ]:
# YOUR ANSWER HERE

**8.4**

What would be the result of the string `'boaz'` subtracted from the value of the string `'Boaz'`?

In [ ]:
# YOUR ANSWER HERE

<a name="9"></a>
## Question 9: Math Magic Trick

**9.1**

I want to show you a little trick :) 

First, define a variable ```k``` to have the value of the any number from ```1 - 10```

In [ ]:
# YOUR CODE HERE

**9.2**

Now multiply `k` by 2 using the `*=` operator

In [ ]:
# YOUR CODE HERE

**9.3**

Now mulitply `k` by 5

In [ ]:
# YOUR CODE HERE

**9.4**

Now divide your current `k` by 1 using the `//=` operator

In [ ]:
# YOUR CODE HERE

**9.5**

Decrement `k` by using the `-=` operand by 7

In [ ]:
# YOUR CODE HERE

**9.6**

Now let me guess..... does your answer end with 3? Print the value of `k`

(*You may have to re-run run cells **9.1-9.5** each once for this to work*)

In [ ]:
# YOUR CODE HERE

**9.7**

Find the remainder of ```78``` divided by ```14``` using one operator from lecture. 

(For example, the remainder of `16` divided by `5` is `1`, because $16 = 5 * 3 + 1$)

In [ ]:
# YOUR CODE HERE

**9.8**

Given some value for ```y```, make ```y``` 10 times smaller (ignoring the remainder) using one operation. After you are done, `y` should have type ```int```.

In [ ]:
# YOUR CODE HERE

Hints for 9.7 and 9.8:

9.7: Consider the `%` operator.

9.8: Consider the `//` operator.

<a name="10"></a>
## Question 10: Putting It All Together

**10.1**

Write code to print

a.  ``` 'BoazBoazBoaz' ```

b. ```'Boaz3'```

You should only type  ```'Boaz'``` once and ```3``` once for each case.

In [ ]:
# YOUR CODE HERE

**10.2**

Look at the following code
```python
x = 99
x /= 10
x *= 50
y = x
y += 5
x -= y
y %= x

```
What is ```x``` and ```y```?  Try to do it in your head (or on paper) first before trying it with code.

In [ ]:
# YOUR CODE HERE