# JamCoders Day 4 Lecture 1

Review of loops, lists, functions

# Loops

__English:__ Do `SOMETHING` 10 times

__Python:__ 
```python
for i in range(10):
    SOMETHING(i)
```

__English:__ Go over every element `x` of a list `L` and do `SOMETHING` to `x`

__Python:__
```python
for x in L:
    SOMETHING(x)
```

or
```python
for i in range(len(L)):
    SOMETHING(L[i])
```

__Memory trick:__

* Use `i`, `j`, `n` for variables that are *integers*

* Use `x`, `y`, `z` for variables that can be anything (elements of lists that can be `int`,`str`,`float`, even `list`)

* Use `L` for lists, and `s` for strings

_Best memory trick:_ Use a longer name so easy to remember what the variable is supposed to be

In [45]:
schools = ['Campion College', 'Immaculate Conception High School',
           'Jamaica College', 'Kingston College', 
           'St. Andrew High School for Girls', "St. George's College", "Wolmer's Boys' School"]

In [46]:
for x in schools:
    print(x)

Campion College
Immaculate Conception High School
Jamaica College
Kingston College
St. Andrew High School for Girls
St. George's College
Wolmer's Boys' School

In [47]:
for x in range(len(schools)):
    print(schools[x])

Campion College
Immaculate Conception High School
Jamaica College
Kingston College
St. Andrew High School for Girls
St. George's College
Wolmer's Boys' School

In [48]:
for x in range(len(schools)):
    print(x)

0
1
2
3
4
5
6

In [49]:
for x in range(schools):
    print(x)

TypeError: 'list' object cannot be interpreted as an integer

In [50]:
for x in schools:
    if x[:3]=="St.":
        print(x)

St. Andrew High School for Girls
St. George's College

# 3 Boom

Write a function `three_boom` that on input an integer `n` prints all the numbers from `0` to `n-1` except that it prints `BOOM` whenever the integer is a multiple of `3`. _hint:_ Use the `%` operator

```python
three_boom(7)
```
```
BOOM
1
2
BOOM
4
5
BOOM
```

In [60]:
def three_boom(n):
    for x in range(n):
        if x % 3 == 0:
            print("BOOM")
        else:
            print(x)

In [ ]:
def three_boom(n):
    for i in range(n):
        if i % 3 == 0:
            print("BOOM")
        else:
            print(i)

In [61]:
three_boom(7)

BOOM
1
2
BOOM
4
5
BOOM

# 3 Boom +

Write a function `three_boom_plus` that on input an integer `n` prints all the numbers from `0` to `n-1` except that it prints `BOOM` and the _sum_ of the numbers from 0 up to the integer if the integer is a multiple of 3.

```python
three_boom_plus(7)
```
```
BOOM 0
1
2
BOOM 6
4
5
BOOM 21
```

In [66]:
def compute_sum(x):
    result = 0
    for y in range(x+1):
        result += y
    return result

def three_boom_plus(n):
    for x in range(n):
        if x % 3 == 0:
            sum = compute_sum(x)
            print("BOOM", sum)
        else:
            print(x)

In [ ]:
def three_boom_plus(n):
    for i in range(n):
        if i % 3 == 0:
            sum = 0
            for j in range(i+1):
                sum += j
            print("BOOM", sum)
        else:
            print(i)

In [67]:
three_boom_plus(7)

BOOM 0
1
2
BOOM 6
4
5
BOOM 21